:root {
  --primary-color: #0c181a;
  --dark-bg: #18181c;
}

body {
  font-size: 16px;
  font-family: Helvetica, Arial;
  color: #333;
  line-height: 1.6;
}

html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}
html.dark {
  background: var(--dark-bg);
}
